.mainLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9db2bf;
  color: #fff;
}
@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pokeball {
  font-size: 7vw;
  animation: girar 2s linear infinite;
}
